<title>CleanSweep</title>

<style>


</style>

{% extends 'base.html'%}
{% block content %}
<div class="container-sm  mt-4"  >
    <h2 class="text-gradient text-primary">Collection Schedule</h2>
    <br>



    {% for data in show_collection %}








    <div class="container p-0">
        <div class="card">

            <div class="row  ">
                <div class="col-lg-6 custom-column">
                    <div class="thumbnail-container">
                        <img src="{{ data.route_image.url }}" class="img-thumbnail rounded float-start thumbnail-image">
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="row p-3">
                        <div class="col d-flex justify-content-end">
                            <a href="{{ data.route_link }}" target="_blank" class="btn  bg-gradient-primary m-0 ">
                                <i class="bi bi-geo-alt"></i>
                                View Map
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 m-3">
                            <span class="d-block p-2  "><strong>Route</strong> <span  class="fs-6 badge   text-primary rounded ms-2 "> {{ data.route}}</span></span>
                            <span class="d-block p-2  "><strong>City</strong> <span class="fs-6  badge   text-primary rounded ms-2"> {{ data.city}}</span></span>
                            <span class="d-block p-2  "><strong>Street</strong> <span class=" fs-6 badge   text-primary rounded ms-2 "> {{ data.street}}</span></span>
                            <span class="d-block p-2  "><strong>Schedule</strong>
{% for collection_obj in show_collection %}
    <div class="container mx-0 p-0">
        {% for day_choice in collection_obj.DayChoices %}
            <span class="badge text-gradient text-primary border m-1 mx-0">{{ day_choice.1 }}</span>
        {% endfor %}
    </div>
{% endfor %}

                            </span>
                        </div>
                        <div class="col-lg-11 m-3">
                              <span class="d-block p-2 py-0">
                             <p><strong>Type</strong></p>
                        </span>
                            <p class="badge text-gradient text-primary border">{{ data.type|default_if_none:"" }}</p>
                            <p class="badge text-gradient text-primary border">{{ data.type_2|default_if_none:"" }}</p>
                            <p class="badge text-gradient text-primary border">{{ data.type_3|default_if_none:"" }}</p>
                            <p class="badge text-gradient text-primary border">{{ data.type_4|default_if_none:"" }}</p>
                            <p class="badge text-gradient text-primary border">{{ data.type_5|default_if_none:"" }}</p>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









</div>












<br>
{% endfor %}



</div>
<br>
<style>
    .thumbnail-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .thumbnail-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .day-choices {
    margin-top: 10px;
}

</style>
{% endblock %}