<title>CleanSweep</title>
{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container mt-4 "   style="max-width:960px;" >
    <h1 class="text-gradient text-primary">News</h1>
    <br>

        <div class="card mb-5" style="max-width: 960px;">
            <div class="row g-0 ">
                {% if not news.PostNews.post_image  %}
                <img src="{{news.post_image.url}}" class=" rounded-top  border-0 " alt="...">

                {% else %}
                <img src="..." class="card-img-top placeholder-glow" alt="...">
                {% endif %}
                <div class="col-lg-12">
                    <div class="card-body">
                        <h4 class="card-title text-gradient text-primary" style="text-transform: capitalize;">{{news.heading}}</h4>
                        <p class="card-text">
                            <small class="badge bg-gradient-primary">{{news.post_date}}</small>
                        </p>
                        <p class="card-text "> {{news.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    <br>
</div>
<br>
{% endblock %}