{% block slide %}

<div class="container "  style="max-width:720px;" id="list-item-2">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        {% if news %}
        <div class="carousel-inner">
            <h3 class="text-gradient text-primary">News</h3>
            {% for news in news %}

            <div class="carousel-item {% if forloop.first %} active {% endif %}  " data-bs-interval="4000" >
                <img src="{{ news.post_image.url }}" class="d-block w-100" style="max-height: 50vh; object-fit: contain;" alt="...">

                <div class=" bg-primary-soft text-center py-3 border-radius-sm mb-2">
                    <h4 class="  p-2 pb-0 mb-0 " style="text-transform: capitalize;">{{news.heading}}</h4>
                    <span class="badge rounded-pill bg-gradient-primary my-2">{{ news.post_date | timesince}} ago</span>
                    <p class="px-3   text-truncate m-0"> {{news.description}}</p>
                    <a style="text-decoration: none" href="{% url  'news_detail' id=news.id %}" class="text-dark">
                        <small class="text-gradient text-primary">Read more <i class="bi bi-arrow-right-short"></i></small>
                    </a>
                </div>
            </div>

            {% endfor %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        {% else %}
         <h3 class="text-gradient text-primary">News</h3>
        <div class="container-fluid  placeholder p-5"></div>
        {% endif %}
    </div>
</div>

{% endblock %}